body { font-size: 180%; }
.top{
position: absolute;
top: 0;
left: 0;
right: 6px;
height: 200px;
line-height: 200px;
text-align: center;
border: 1px soild green;
background-color: #696969;
color: rgb(200,200,200);
}
.bottom{
position: absolute;
left: 0;
bottom: 0;
right: 6px;
text-align: right;
border: 1px solid green;
background-color: #696969;
color: rgb(200,200,200);
}
.left{
position: absolute;
left: 0;
top: 200px;
bottom: 0;
width: 200px;
text-align: center;
border: 1px solid green;
padding-top: 40px;
background-color: #696969;
}
.center{
position: absolute;
padding-top: 200px;
top:120px;
left: 200px;
right: 6px;
bottom: 0;
text-align: center;
border: 1px solid green;
background-color: rgb(200,200,200);
}
.nav{
padding-bottom: 40px;
}
.colorwhite{
    color: rgb(200,200,200);
}